<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.host.username %>
</p>

<p>
  <strong>Confirmed Guests (<%= @event.guests.count %>) :</strong>
  <ul>
    <% @event.guests.each do |guest| %>
      <li><%= guest.username %></li>
    <% end %>
  </ul>
</p>

<% if current_user.try(:id) == @event.host_id %>
  <strong>All Invitations:</strong>
  <ul>
    <% @event.invitations.includes(:recipient).each do |invitation| %>
      <li class='<%= invitation.rsvp %> invitation-list-item'><%= invitation.recipient.username %></li>
    <% end %>
  </ul>
<% end %>

<% if @event.host_id == current_user.try(:id) %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Update Invitations', edit_event_invitations_path(@event) %> |
<% end %>
<%= link_to 'Back', events_path %>
