<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date_and_time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Host:</strong>
  <%= @event.host.username %>
</p>

<p>
  <strong>Confirmed Guests (<%= @event.guests.count %>) :</strong>
  <% @event.guests.order(:username).each do |guest| %>
    <div class='invitation-list-item ACCEPTED'>
      <li><%= link_to guest.username, guest %></li>
      <i class="fas fa-check"></i>
    </div>
  <% end %>
</p>

<% if current_user.try(:id) == @event.host_id %>
  <p>
    <strong>All Invitations:</strong>
    <% @event.invitations.includes(:recipient).order(:username).references(:recipient).each do |invitation| %>
      <div class="invitation-list-item <%= invitation.rsvp %>">
        <li><%= link_to invitation.recipient.username, user_path(invitation.recipient_id) %></li>
        <% if invitation.rsvp == 'ACCEPTED' %>
          <i class="fas fa-check"></i>
        <% elsif invitation.rsvp == 'PENDING' %>
          <i class="far fa-clock"></i>
        <% else %>
          <i class="fas fa-times"></i>
        <% end %>
      </div>
    <% end %>
  </p>
<% end %>
<br>

<% if @event.host_id == current_user.try(:id) %>
  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Update Invitations', edit_event_invitations_path(@event) %> |
  <%= link_to 'Delete Event', event_path(@event), method: :delete, data: { confirm: 'Are you sure?'} %> |
<% end %>
<%= link_to 'Back', events_path %>
