<div class='invitation'>
  <p>Event: <%= link_to invitation.event.name, event_path(invitation.event) %></p>
  <p>Status: <%= invitation.rsvp %></p>
  <% if invitation.rsvp == 'ACCEPTED' %>
    <%= button_to 'Accept', pend_invitation_path(invitation), class: 'current-status' %>
    <%= button_to 'Decline', decline_invitation_path(invitation) %>
  <% elsif invitation.rsvp == 'DECLINED' %>
    <%= button_to 'Accept', accept_invitation_path(invitation) %>
    <%= button_to 'Decline', pend_invitation_path(invitation), class: 'current-status' %>
  <% else %>
    <%= button_to 'Accept', accept_invitation_path(invitation) %>
    <%= button_to 'Decline', decline_invitation_path(invitation) %>
  <% end %>

</div>