<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/07b0558508.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@1,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap" rel="stylesheet">  </head>

  <body>
    <header>
      <div class='header-left'>
        <button class='header-button border-right'>
          <%= link_to 'Home', root_path, class: 'header-item' %>
        </button><!--
        --><button class='header-button'>
          <%= link_to 'About', about_path, class: 'header-item' %>
        </button>
      </div>
      <div class='header-right'>
        <button class='header-button border-right'>
          <%= link_to 'New Event', new_event_path, class: 'header-item' %>
        </button><!--
        <% if user_signed_in? %>
          --><button class='header-button border-right'>
            <%= link_to current_user.username, profile_path, class: 'header-item' %>
          </button><!--
          --><button class='header-button'>
            <%= link_to 'Logout', destroy_user_session_path, class: 'header-item', method: :delete %>
          </button>
        <% else %>
          --><button class='header-button border-right'>
            <%= link_to 'Login', new_user_session_path, class: 'header-item' %>
          </button><!--
          --><button class='header-button'>
            <%= link_to 'Sign Up', new_user_registration_path, class: 'header-item' %>
          </button>
        <% end %>
      </div>
    </header>
    <div class='page-body'>
      <p id="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
